body, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
}

.wireframe {
    background-color: #FFFFFF;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    
}

.menu-fixo {
    width: 330px;
    height: 1024px;
    background-color: #8fdfd4;
    border-top-right-radius: 15px;
}

.logo1 {
    width: 177px;
    height: 52px;
    padding-top: 50px;
    padding-left: 80px;
}

.frase-logo {
    font-size: 10px;
    width: 159px;
    text-align: center;
    font-family: 'inter';
    color: #1A816E;
    padding-top: 10px;
    padding-left: 80px;
}

.linha {
    background-color: #8EC0B9;
    margin-top: 50px;
}



.op-menu-container {
    display: flex;
    flex-direction: column;
}

.op-menu {
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.icon-menu {
    margin-right: 10px;
}

.icon-menu img {
    max-width: 100%;
}

.text-menu {
    color: #FFFFFF;
    font-family: 'arimo';
}

.op-menu:hover {
    background-color: #36C6C6;
    background-image: url('img/iconmonstr-building-4-240.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.op-menu:hover .text-menu {
    color: #FFFFFF;
}

.op-menu.clicked {
    background-color: #1A816E;
    transition: background-color 0.5s ease; /* Adjust the duration as needed */
    
}

.op-menu.clicked .text-menu {
    color: #FFFFFF;
}

.container {
    margin: 50px;
}

.titulo {
    color: #329F92;
    font-family: 'Raleway', sans-serif;
}

.titulo h3 {
    margin-top: 30px; /* ou qualquer valor desejado */
    color: #7E8180;
}

.img-perfil {
    margin-top: 10px;
    width: 23%;
}

.link-container {
    margin-top: 20px;
    display: grid;
    flex-direction: column;
}

a {
    text-decoration: none !important;
    /* Remova as propriedades top e left para alinhar o link naturalmente */
}


.input {
    margin: -30px;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    background-color: #FCFCFC;
    outline: 0;
    border: 1px solid #F0E4E4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}


.input input {
    width: 90%;
    border: none;
    outline: none;
    font-family: 'Nunito' 'Sans-serif';
    color: black;
}

form {
    width: 100%;
}



.form-container {
    margin-top: 50px;
    display: flow-root;
}

label {
    margin-bottom: 8px;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
}

.grupo {
    margin-top: 200px;
}

.link-contraste {
    width: 100px;
}
p {
    margin-top: 10px;
    font-size: 14px;
}

.Redefinir {
    display: flex;
    margin-top: 20px;
}

.label {
    display: block;
    color: #7E8180;
    margin-top: 30px;
}


.assinatura {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.assinatura p {
    margin: 0;
}

.nome-assinatura {
    font-weight: bold;
    color: #333;
}


.botao-assinatura {
    margin-top: 20px;
    padding: 10px 100px;
    font-size: 16px;
    background-color: #33877D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-assinatura:hover {
    background-color: #0056b3;
}